# cmake
CMakeFiles
cmake_install.cmake
Makefile
CMakeCache.txt
build/
outputs/
/.*

# make targets and intermediate files
/AMEGIC++/Main/make2scons
/AMEGIC++/Main/makelibs
/ATOOLS/Org/CXXFLAGS.H
/ATOOLS/Org/CXXFLAGS_PACKAGES.H
/Manual/Sherpa.html
*.l[ao]
*.o
*.so
*.so.0.0.0
*.dylib
.libs
EXTAMP/Example/madgraph/CMakeLists.txt
EXTAMP/Example/subtraction/CMakeLists.txt
Examples/Userhook/CMakeLists.txt
Examples/V_plus_Bs/LHC_Wbb/CMakeLists.txt
Examples/V_plus_Jets/LHC_WJets/CMakeLists.txt
Git_Info.C
Git_Info.C.tmp.bak
/ATOOLS/Math/Sobol/21201.gz
/AddOns/Analysis/Scripts/Combine_Analysis
/AddOns/Higgs/PS[23]/.dirstamp
/AddOns/Python/Sherpa.py
/AddOns/Python/Sherpa_wrap.cxx
/Manual/Sherpa.info
/Manual/Sherpa.info-[12]
/Manual/completion.index
/Manual/stamp-vti
/Manual/version.texi
/SHERPA/Run/Sherpa
NNPDF31_nnlo_as_0118_mc/
SHERPA/Run/Sherpa-config
install_manifest.txt
Manual/sherpa-completion
Manual/sherpamanual.fls
MODEL/UFO/Sherpa-generate-model
MODEL/UFO/sconstruct_template
test.py

# test run output
Examples/*/Process
References.tex
Results.zip
Results.zip~
/Testing/

# (local) make install targets

/bin/
/include/
/lib/
/share/
*.DS_Store
.vscode/
