# If you have questions or requests contact Valentin Boettcher <hiro@protagon.space> (Gitlab: vale9811)

image: "registry.gitlab.com/sherpa-team/sherpa-docker-build/slim"

variables:
  DOCKER_DRIVER: overlay2
#  CONFIGURE_FLAGS: --enable-analysis --enable-ewsud --with-libzip=/usr --with-lhapdf=install
  CONFIGURE_FLAGS: -DSHERPA_ENABLE_ANALYSIS:BOOL=ON -DSHERPA_ENABLE_EWSUD:BOOL=ON -DLibZip_ROOT_DIR=/usr -DSHERPA_ENABLE_INSTALL_LHAPDF:BOOL=ON
  MAKE_FLAGS: -j4

.build_template: &build
  only:
    variables:
     - $CI_SERVER_HOST=="gitlab.com"
  stage: build
  before_script:
    # set up ccache
    - mkdir -p ccache
    - export CCACHE_BASEDIR=${PWD}
    - export CCACHE_DIR=${PWD}/ccache
    - export CCACHE_COMPILERCHECK=content
    # enable gold linker
    - ln -sf ld.gold /usr/bin/ld
  # accelerate git-clone by making it shallow
  variables:
    GIT_DEPTH: "3"
  # cache ccache
  cache:
    paths:
      - ccache/

.build_ubuntu_template: &build_ubuntu
  stage: build
  before_script:
    # set up ccache
    - mkdir -p ccache_ubuntu
    - export CCACHE_BASEDIR=${PWD}
    - export CCACHE_DIR=${PWD}/ccache_ubuntu
    - export CCACHE_COMPILERCHECK=content
    # enable gold linker
    - ln -sf ld.gold /usr/bin/ld.gold
  # accelerate git-clone by making it shallow
  variables:
    GIT_DEPTH: "3"
  # cache ccache
  cache:
    paths:
      - ccache_ubuntu/

#
# Build
#

# default build with gcc
build:
  <<: *build
  script:
    - mkdir -p build
    - cd build
    - cmake -S ../ -B . -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=gcc -DCMAKE_INSTALL_PREFIX="$PWD/install" $CONFIGURE_FLAGS
    - make $MAKE_FLAGS
    - make install
    - VERBOSE=1 make check
  # store what's required to run the tests
  artifacts:
    expire_in: 2 days
    paths:
      - build/install
      - Examples/CI/

# default build with gcc on top of the Rivet image
build-rivet:
  <<: *build_ubuntu
  image: "registry.gitlab.com/sherpa-team/sherpa-docker-build/analysis"
  stage: build
  script:
    - mkdir -p build-rivet
    - cd build-rivet
    - cmake -S ../ -B . -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=gcc -DCMAKE_INSTALL_PREFIX="$PWD/install" -DSHERPA_ENABLE_ANALYSIS:BOOL=ON -DSHERPA_ENABLE_EWSUD:BOOL=ON  -DSHERPA_ENABLE_INSTALL_LHAPDF:BOOL=ON -DSHERPA_ENABLE_INSTALL_LIBZIP:BOOL=ON -DSHERPA_ENABLE_RIVET=ON -DSHERPA_ENABLE_HEPMC3=ON -DRivet_DIR=$(rivet-config --prefix)
#    - ../configure CC="ccache gcc" CXX="ccache g++" --prefix="$PWD/install" $CONFIGURE_FLAGS --enable-hepmc3=$(HepMC3-config --prefix) --enable-rivet=$(rivet-config --prefix) --with-libzip=install "CXXFLAGS=-Wl,-rpath,$(HepMC3-config --libdir),-rpath,$(rivet-config --libdir)"
    - make $MAKE_FLAGS
    - make install
    - ctest .
  # store what's required to run the tests
  artifacts:
    expire_in: 2 days
    paths:
      - build-rivet/install
      - Examples/CI/

# build with clang and -Werror
build-clang-strict:
  <<: *build
  script:
    - mkdir -p build-clang-strict
    - cd build-clang-strict
    - cmake -S ../ -B .  -DCMAKE_CXX_FLAGS="-Werror -Wno-error=unused-function "-DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_INSTALL_PREFIX="$PWD/install" $CONFIGURE_FLAGS
    - make $MAKE_FLAGS
    - make install
    - ctest .
  # store what's required to run the tests
  artifacts:
    expire_in: 2 days
    paths:
      - build-clang-strict/install
      - Examples/CI/

build-manual:
  stage: build
  image: registry.gitlab.com/sherpa-team/sherpa-docker-build
  script:
    - cmake -S . -B . -DSHERPA_ENABLE_MANUAL=ON -DLibZip_ROOT_DIR=/usr -DSHERPA_ENABLE_INSTALL_LHAPDF:BOOL=ON
    - cd Manual
    - pip3 install -r requirements.txt
    - cd Manual
    - make
    - make sherpamanual_html
  artifacts:
    expire_in: 2 days
    paths:
      - build/Manual
  rules:
    - changes:
        - Manual/**/*
      when: always
    - when: never

#
# Test
#

# define test runs as single jobs; this is less dynamic then just cycling
# through all sub-directories of Examples/CI, but it makes sure that all test
# jobs will be run simultaneously; at least we use anchors and map merging to
# inherit parameters set in .test_template

.test_template: &test
  stage: test
  variables:
    GIT_STRATEGY: none  # we only need the artifacts from the build

test-LO_Z: &test_lo_z
  <<: *test
  needs:
    - build
  script:
    - mkdir test-LO_Z
    - cd test-LO_Z
    - ../build/install/bin/Sherpa ../Examples/CI/LO_Z/Sherpa.yaml

test-LO_Z-Amegic:
  <<: *test_lo_z
  script:
    - mkdir test-LO_Z-Amegic
    - cd test-LO_Z-Amegic
    - ../build/install/bin/Sherpa ../Examples/CI/LO_Z/Sherpa.yaml ME_GENERATORS:Amegic
    - ./makelibs
    - ../build/install/bin/Sherpa ../Examples/CI/LO_Z/Sherpa.yaml ME_GENERATORS:Amegic

test-clang-strict-LO_Z:
  <<: *test
  needs:
    - build-clang-strict
  script:
    - mkdir test-clang-strict-LO_Z
    - cd test-clang-strict-LO_Z
    - ../build-clang-strict/install/bin/Sherpa ../Examples/CI/LO_Z/Sherpa.yaml

test-rivet-LO_Z:
  <<: *test
  image: "registry.gitlab.com/sherpa-team/sherpa-docker-build/analysis"
  needs:
    - build-rivet
  script:
    - mkdir test-rivet-LO_Z
    - cd test-rivet-LO_Z
    - . /etc/profile
    - . /etc/bash.bashrc
    - for i in /etc/profile.d/*.sh; do source $i; done
    - LHAPDF_DATA_PATH=../build-rivet/install/share/LHAPDF ../build-rivet/install/bin/Sherpa ../Examples/CI/LO_Z/Sherpa.yaml ANALYSIS=Rivet
    - rivet-mkhtml --mc-errs ../Examples/CI/LO_Z/Reference.yoda.gz Analysis.yoda.gz PLOT:RatioPlotMode=deviation
    - ../Examples/CI/plot_deviations ../Examples/CI/LO_Z/Reference.yoda.gz Analysis.yoda.gz
  artifacts:
    when: always
    expire_in: 7 days
    paths:
      - test-rivet-LO_Z/Analysis.yoda.gz
      - test-rivet-LO_Z/deviations.pdf
      - test-rivet-LO_Z/rivet-plots

#
# Deploy
#


# Rebuild the Website to include this tag in the changelogs.
trigger_pages:
  stage: deploy
  variables:
    GIT_STRATEGY: none  # we only need the artifacts from the build
  rules:
    - if: '$CI_COMMIT_TAG'
      when: always
    - when: never
  script:
    - "curl -X POST -F token=$PAGES_TRIGGER_TOKEN -F ref=master https://gitlab.com/api/v4/projects/8892644/trigger/pipeline"
  needs: []

# build the dist-tarball
dist:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_TAG'
      when: always
    - when: never
    - if: '$CI_SERVER_HOST=="gitlab.com"'
  image: registry.gitlab.com/sherpa-team/sherpa-docker-build
  script:
    - autoreconf -i
    - cd Manual
    - pip3 install -r requirements.txt
    - cd ..
    - mkdir -p build
    - cd build
    - ../configure $CONFIGURE_FLAGS --enable-manual # build the manual into the dist tarball
    - make dist

    # upload to gitlab releases
    - "REL=$(git describe --abbrev=0 --tags)"
    - "TARBALL=$(ls *.tar.gz | cut -d ' ' -f1)"
    - 'URL=$(curl --request POST --header "PRIVATE-TOKEN: $UPLOAD_TOKEN" --form "file=@./$TARBALL" https://gitlab.com/api/v4/projects/13884060/uploads | grep -o -P "\"url\":\"(.*?)\"" | sed "s/\"//g" | sed "s/url://")' # TODO: use regex
    - "echo $URL"
    - 'curl --request POST --header "PRIVATE-TOKEN: $UPLOAD_TOKEN" --data name="$TARBALL" --data url="https://gitlab.com/vale9811/sherpa$URL" "https://gitlab.com/api/v4/projects/13884060/releases/$REL/assets/links"'
    - 'curl --request POST --header "PRIVATE-TOKEN: $UPLOAD_TOKEN" --data name="Manual" --data url="https://sherpa-team.gitlab.io/sherpa/$REL/" "https://gitlab.com/api/v4/projects/13884060/releases/$REL/assets/links"'

# Build Manual
pages:
  image: registry.gitlab.com/sherpa-team/sherpa-docker-build
  stage: deploy
  script:
    - cd Manual
    - git branch -r | grep -v '\->' | while read remote; do git branch --track "${remote#origin/}" "$remote"; done
    - git fetch --all
    - git checkout master  # we only build with master config, because
                           # this will get uploaded globaly
    - git pull
    - pip3 install -r requirements.txt
    - pip3 install sphinx-multiversion
    - bash .build_versioned.sh build
    - mv build/_multi ../public
  artifacts:
    paths:
    - public
  rules:
    - changes:
        - Manual/**/*
      when: always
    - when: never

