# autotools

Makefile
Makefile.in
.deps

/AMEGIC++/Main/make2scons
/AMEGIC++/Main/makelibs
/ATOOLS/Org/CXXFLAGS.H
/ATOOLS/Org/CXXFLAGS_PACKAGES.H
/ATOOLS/Org/stamp-h2
/ATOOLS/Org/stamp-h3
/COPYING
/Examples/API/Events/test.py
/Examples/API/ME2-Python/test.py
/Examples/API/MPIEvents/test.py
/INSTALL
/MODEL/UFO/Sherpa-generate-model
/MODEL/UFO/sconstruct_template
/Manual/mdate-sh
/Manual/sherpa-completion
/Manual/texinfo.tex
/SHERPA/LundTools/pythia-6.4.18.f
/SHERPA/Run/Sherpa-config
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/py-compile
/stamp-h1


# make targets and intermediate files

/Manual/Sherpa.html
*.l[ao]
.libs
Git_Info.C
Git_Info.C.tmp.bak
/AddOns/Higgs/PS[23]/.dirstamp
/Manual/Sherpa.info
/Manual/Sherpa.info-[12]
/Manual/completion.index
/Manual/stamp-vti
/Manual/version.texi
/SHERPA/Run/Main.o
/SHERPA/Run/Sherpa


# (local) make install targets

/bin/
/include/
/lib/
/share/


# IDEs/editors

# vim
*.sw[a-p]
.*.sw[a-p]
Session.vim
.netrwhist
*~
tags
